<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/survey/process' method='POST'>
      {% csrf_token %}
      <label>Your Name:</label>
      <input type="text" name="name" placeholder="Name" id='name'>
      <p></p>
      <label>Dojo Location:</label>
      <select id="loc_select" name="loc_select">
           <option>Silicon Valley</option>
           <option>Seattle</option>
           <option>Los Angeles</option>
           <option selected="selected">Dallas</option>
           <option>Washington DC</option>
           <option>Chicago</option>
           <option>Berkeley</option>
           <option>Orange County</option></select>
      <p></p>
      <label>Favorite Language:</label>
      <select id="fave_lang" name="fave_lang">
           <option>Javascript</option>
           <option selected="selected">Engrissh</option>
           <option>Ruby</option>
           <option>Python</optio>
           <option>Orange County</option></select>
      <p></p>
      <label>Comments:</label>
      <textarea name="comments" rows="5" cols="50" id="comments">
      </textarea>
      <p></p>
      <input type="submit" value='Submit'>


    </form>

  </body>
</html>
